@import '../../app/_breakpoints';

.header {
  position: fixed;
  z-index: 2;
  width: 100vw;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0px 30px;
  margin-top: 10px;
  color: var(--white);
  mix-blend-mode: difference;

  pointer-events: none;

  @include mobile-query {
    padding: 0px 20px;
    pointer-events: all;
  }

  opacity: 0;
  &__logo {
    width: calc(100% / 3);
    pointer-events: all;
    &__wrapper {
      width: fit-content;
      display: flex;
      gap: 0px;
      text-transform: uppercase;
      flex-direction: column;
      
      h1 {
        /* font-size: 40px; */
        /* font-weight: 700; */
        font-size: 12px;
        font-weight: 400;
        line-height: 1;
      }
      
      h3 {
        /* font-size: 17px; */
        font-size: 12px;
        font-weight: 400;
        line-height: 1;
        @include mobile-query {
          display: none;
        }
      }
    }
  }

  &__icon {
    width: calc(100% / 3);
    text-align: center;

    transform-style: preserve-3d;
    transform: perspective(5000px) rotateX(var(--rotateY)) rotateY(var(--rotateX));
    pointer-events: all;
    display: flex;
    justify-content: center;

    @include mobile-query {
      display: none;
    }

    a {
      display: block;
      width: fit-content;
      height: fit-content;
    }
  }
  
  &__links {
    width: calc(100% / 3);
    height: fit-content;
    display: flex;
    justify-content: flex-end;
    gap: 120px;
    font-size: 12px;

    @include mobile-query {
      display: none;
      width: fit-content;
      gap: 0px;
    }

    &__item {
      width: 70px;
      pointer-events: all;
      @include mobile-query {
        width: fit-content;
      }
      a {
        display: flex;
        gap: 0px;
        
        justify-content: center;  
        transition: all ease 0.3s;
        &:hover {
          gap: 5px;
          &::before {
            opacity: 1;
          }
          &::after {
            opacity: 1;
          }
        }
        &::before {
          content: '[';
          opacity: 0;
        }
        &::after {
          content: ']';
          opacity: 0;
        }
      }

      &__active {
        a {
          gap: 5px;
          &::before {
            opacity: 1;
          }
          &::after {
            opacity: 1;
          }
        }
      }
    }

  }

  &__burger {
    display: none;
    /* background: transparent; */
    border: none;
    height: 50px;
    width: 50px;
    @include mobile-query {
      display: flex;
      gap: 5px;
      justify-content: center;
      align-items: center;
    }

    &__dot {
      width: 5px;
      height: 5px;
      background-color: var(--white);
      border-radius: 50%;
    }
  }

  &__mobile {
    position: fixed;
    padding: 70px 20px;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100vw;
    height: 100dvh;
    background-color: var(--black);

    &__close {
      position: absolute;
      top: 20px;
      right: 20px;
      width: 30px;
      height: 30px;
      &__line {
        position: absolute;
        width: 100%;
        height: 3px;
        background-color: var(--white); /* Adjust color as needed */
        transition: transform 0.3s ease;
        &:first-child {
          top: 15px;
          transform: rotate(45deg);
        }
        &:last-child {
          top: 15px;
          transform: rotate(-45deg);
        }
      }
    }

    &__links {
      margin: 50px 0px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      &__item {
        font-size: 30px;
      }
    }

    &__socialmedia {
      position: absolute;
      font-size: 12px;
      display: flex;
      gap: 30px;
      bottom: 30px;
    }
  }

}