@import '../_breakpoints';

.page {
  position: relative;
  background-color: var(--black);
  width: 100vw;
  height: 300vh;

  &__wrapper {
    position: fixed;
    width: 100%;
    height: 100%;

    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    /* overflow: hidden; */
    mix-blend-mode: difference;
    z-index: 1;

    pointer-events: none;
  }

  &__item {
    position: absolute;
    /* top: 0;
    left: 0;
    transform: translate(-50%, -50%); */
    /* width: 800px; */
    height: fit-content;
    cursor: pointer;
    transform-origin: left;
    text-transform: uppercase;

    pointer-events: all;

    &__clientcategory {
      @include mobile-query {
        display: flex !important;
        flex-direction: column-reverse;
      }
      &__client {
        margin-right: 10px;
        @include mobile-query {
          margin-right: 0px;
        }
      }
      &__cat {
        &::before {
          content:'[';
          margin-right: 5px;
        }
        &::after {
          content:']';
          margin-left: 5px;
        }
      }
    }

    a {
      text-wrap-mode: nowrap;
    }

    h3 {
      font-size: 25px;
      font-weight: 400;
      line-height: 1;

      @include mobile-query {
        font-size: 15px;
      }

    }
    
    p {
      font-weight: 400;
      line-height: 1;
      font-size: 16px;
      @include mobile-query {
        font-size: 8px;
      }
    }

  }

  &__categories {
    position: fixed;
    top: 50%;
    right: -100vw;
    transform: translate(0, -50%);
    mix-blend-mode: difference;
    z-index: 1;
    text-align: right;

    display: flex;
    flex-direction: column;
    align-items: end;

    @include mobile-query {
      display: none;
    }

    &__item {
      width: fit-content;
      padding: 10px 0px;
      cursor: pointer;
      text-transform: uppercase;

      &__selected {
        display: flex;
        gap: 10px;
        &::before {
          color: white;
          content: '[ ';
          display: block;
        }
        &::after {
          color: white;
          content: '] ';
          display: block;
        }
      }
    }
  }

  &__video {
    position: fixed;
    top: 50%;
    left: 50%;
    width: auto;
    height: calc(100vh - 180px);
    aspect-ratio: 1.77;

    transform: translate(-50%, -50%);
    cursor: pointer;

    @include mobile-query {
      top: 0;
      left: 0;
      transform: none;
      width: 100vw;
      height: 100vh;
    }

    &__media {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
    }

    &__count {
      position: absolute;
      bottom: 10px;
      left: 50%;
      transform: translate(-50%, -50%);
      mix-blend-mode: difference;

      @include mobile-query {
        bottom: 70px;
      }

      p {
        display: flex;
        gap: 10px;

        span {
          width: 20px;
        }

      }

    }
  }

  &__mouse {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 12px;
    mix-blend-mode: difference;
    pointer-events: none;
  }
}

