.hero {
  width: 100vw;
  height: 100vh;
  position: fixed;

  &__media {
    width: 100%;
    height: 100%;
    object-fit: cover;

    mask-position: center;
    mask-size: 0%;
    mask-image: url("/logo.svg");
    mask-repeat: no-repeat;
  }

  &__sound {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 12px;
    mix-blend-mode: difference;
  }
}