.gradient {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100dvh;
  pointer-events: none;

  &__container {
    filter: url(#goo) blur(40px);
    &__item {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 800px;
      height: 800px;
      background-color: var(--brown);
      border-radius: 50%;
      // filter: blur(30px);
      animation: movePrimaryItem 70s linear infinite;
      mix-blend-mode: hard-light;
    }
    &__item_2 {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 400px;
      height: 400px;
      background-color: var(--brown1);
      border-radius: 50%;
      // filter: blur(30px);
      animation: moveSecondaryItem 30s linear infinite;
      mix-blend-mode: hard-light;
    }
    &__item_3 {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 550px;
      height: 550px;
      background-color: var(--brown2);
      border-radius: 50%;
      // filter: blur(30px);
      animation: moveTertiaryItem 60s linear infinite;
      mix-blend-mode: hard-light;
    }
  }

}

@keyframes movePrimaryItem {
  0% {
    transform: translate(50%, -50%) scale(1.2);
  }
  25% {
    transform: translate(-30%, -20%) scale(1);
  }
  50% {
    transform: translate(-150%, 50%) scale(1.2);
  }
  75% {
    transform: translate(-75%, -80%) scale(1);
  }
  100% {
    transform: translate(50%, -50%) scale(1.2);
  }
}

@keyframes moveSecondaryItem {
  0% {
    transform: translate(-300%, 80%) scale(1.2);
  }
  25% {
    transform: translate(-100%, 0%) scale(1.2);
  }
  50% {
    transform: translate(100%, -80%) scale(1);
  }
  75% {
    transform: translate(60%, 80%) scale(1.2);
  }
  100% {
    transform: translate(-300%, 80%) scale(1.2);
  }
}

@keyframes moveTertiaryItem {
  0% {
    transform: translate(-200%, 80%) scale(1.2);
  }
  25% {
    transform: translate(-180%, 0%) scale(1.5);
  }
  50% {
    transform: translate(100%, -80%) scale(1);
  }
  75% {
    transform: translate(60%, 80%) scale(1.5);
  }
  100% {
    transform: translate(-180%, 80%) scale(1.2);
  }
}